.container{
    text-align: center;
    background-color:blueviolet;
    width: 100vw;
    height: 100vh;
}
#imagen{
    text-align:center;
}
#tarjetaForm{
    background-color: white;
    padding:10px;
    margin:1px;
    border-radius:20px
}
.cabesal{
    display: flex;
}
.cabesal #titulo{
    width: 50%;
    color:gray;
}
.cabesal #idioma{
    width: 50%;
    display: block;
    text-align:right;
}
.mb-3 .form-control{
    width:60%;
}
.mb-3 #idF,#idF2{
    width: 30%;
}
.mb-3 .form-label{
    width: 28%;
}
.mb-3{
    width: 100%;
    display: flex;
}
.fechadn{
    display: flex;
}
.fechadn .numselect{
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    width:60%
}
.fechadn .form-label{
    font-size: 15px;
    width: 28%;
}
#idEH{
    width: 50%;
    padding-left: 28%;
    text-align: left;
}
#link{
    width: 50%;
    padding-left: 28%;
    text-align: left;
}
.mb-3 .numcel{
    display:flex;
    width:60%;
}
.numcel .form-control{
    width:90%;
}
#fc{
    justify-content:center;
}